.selectComponent {
    position: relative;
    border: 10px;
    background: #fff;
    outline: none;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 4px 8px;
    padding-right: 10px;
    min-width: 120px;

    &:focus {
        outline: none;
        border: none;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 2px 3px rgba(39, 255, 226, 0.616);
        ul {
            display: block;
        }
    }
}

.selectComponentList {
    position: absolute;
    left: 0px;
    top: 35px;
    background: #fcfcfc;
    box-shadow: 0px 0px 3px grey;
    border-radius: 3px;
    width: 100%;
    display: none;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.selectComponentListItem {
    padding: 3px 12px;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    &:hover {
        background: blue;
        color: #fff;
    }
}

.selectComponentIcon {
    position: relative;
    padding-left: 10px;
    transform-origin: center center;
    transform: rotateZ(180deg);
}

.selectComponentValue {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
}
.selectComponentValueText {
    flex: 1;
    text-align: left;
    padding-left: 5px;
}