.loginLayout {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px);
}

.loginTitle {
    font-weight: 600;
    font-size: 22px;
}

.description {
    max-width: 100%;
    width: 300px;
    font-size: 12px;
    color: grey;
}