.searchComponent {
    position: relative;
    input {
        padding: 5px 10px;
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        &:focus {
            outline: none;
        }
    }
}


.suggestions {
    position: absolute;
    background: #fff;
    left: 0px;
    top: 40px;
    width: 100%;
    border-radius: 4px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    li {
        border-bottom: 1pxx solid grey;
    }
}

.suggestionsList {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.suggestionText {
    padding: 5px 10px;
    cursor: pointer;
}

.suggestionTitle {
    font-weight: 500;
    font-size: 14px;
}

.suggestionDescription {
    font-size: 12px;
    font-weight: 400;
    color: grey;
    max-width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}