.detailContent {
    display: grid;
    justify-items: center;
    align-items: center;
    background: #fff;
    min-height: 400px;
    height: auto;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.textContainer {
    padding: 15px;
}

.caption {
    font-size: 12px;
    color: grey;
}

.reviewsTitle {
    font-weight: 500;
    background: #fff;
    padding: 20px 15px;
    text-transform: capitalize;
}

.reviewList {
    background: #fff;
}
