.productComponent {
    background: #fff;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    transition: .3s;
    &:hover {
        box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
    }
}

.padding {
    padding: 20px;
}

.caption {
    font-size: 10px;
    color: rgb(165, 165, 165);
    text-transform: uppercase;
}

.imageContainer {
    position: relative;
    height: 200px;
}

.image {
    width: 100%;
}

.descriptionPara {
    max-width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}