.textInput {
    margin: 4px 0px;
}

.caption {
    display: block;
    color: grey;
    cursor: pointer;
}

.input {
    display: block;
    outline: none;
    border-radius: 2px;
    padding: 4px 15px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    &:hover {
        cursor: pointer;
    }
    &:focus {
        cursor: text;
    }
}