.dashboard {
    min-height: 100vh;
    background: rgb(245, 245, 245);
    display: grid;
    grid-template-areas:'header' 'main' 'footer';
    grid-template-rows: 60px auto 100px;
}

.dashboardLogo {
    position: relative;
    padding-left: 5px !important;
}

.dashboardDivider {
    flex: 1;
}

.dashboardMain {
    grid-area: main;
    padding: 20px;
    max-width: 900px;
    width: 100%;
    margin: 0px auto;
}

.dashboardHeader {
    background: rgb(255, 255, 255);
    grid-area: header;
    position: sticky;
    top: 0px;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 0px 10px;
    z-index: 2;
}

.dashboardAside {
    background: blue;
    grid-area: aside;
}

.dashboardFooter {
    background: rgb(37, 37, 37);
    grid-area: footer;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
}



